/*QUIZ QUESTION STYLING*/
.quiz-question {
    color: var(--PRIMARY-COLOR);
    margin: 0 1.4rem;
}

.question-option {
    background-color: var(--SECONDARY-COLOR);
    color: var(--TEXT-COLOR);
    margin: 8px 0;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}

.pointer-event-none {
    pointer-events: none;
}

.question-option:active {
    background-color: var(--PRIMARY-COLOR);
}

.correct-answer {
    background-color: var(--PRIMARY-COLOR);
}

.incorrect-answer {
    background-color: var(--ERROR-COLOR);
}
.question-option:hover {
    background-color: var(--PRIMARY-COLOR);
}

.question-active {
    background-color: var(--PRIMARY-COLOR);
}


/*QUESTION CARD STYLING*/

.card-footer .card-btn {
    margin: 1rem 1.6rem;
    background-color: var(--SECONDARY-COLOR-2);
    border-radius: 5px;
}

.card-question {
    background-color: var(--TEXT-COLOR);
    min-width: 35rem;
}

.card-horizontal-img {
    max-height: 22rem;
}
.btn-next {
    justify-content: center;
    align-items: center;
}