/*CSS VARIABLES*/

:root {
    --PRIMARY-COLOR: #4B4453;
    --TEXT-COLOR: #FFF;
    --FORM-COLOR: #f0e1e1;
    --TEXT-COLOR-ALTERNATE: #000;
    --QUIZ-OPTION-COLOR: #736c7b;
    --SECONDARY-COLOR: #dbd9dc;
    --HERO-TEXT-COlOR:#eed255;
    --FOOTER-CREDIT-COLOR: #ff9f1c;
    --SECONDARY-COLOR-2: #534f44;
    --QUIZ-SCORE-COLOR: #ffb573;
    --ERROR-COLOR: #EA526F;
    --SUCCESS-COLOR: #6DA34D;
}

/*RESET*/
* {
    margin: 0;
    scroll-behavior: smooth;
}
